<a href="https://colab.research.google.com/github/a90088/PL2023/blob/main/TPC1/TPC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crie uma função que lê a informação do ficheiro para um modelo, previamente pensado em memória;

In [2]:
import pandas as pd
data = pd.read_csv("myheart.csv")
data

     idade sexo  tensão  colesterol  batimento  temDoença
0       40    M     140         289        172          0
1       49    F     160         180        156          1
2       37    M     130         283         98          0
3       48    F     138         214        108          1
4       54    M     150         195        122          0
..     ...  ...     ...         ...        ...        ...
834     44    M     120         220        170          0
835     54    M     110         239        126          1
836     65    M     135         254        127          1
837     57    M     150         168        174          0
838     63    M     130         330        132          1

[839 rows x 6 columns]

Crie uma função que calcula a distribuição da doença por sexo;

In [17]:
doente = data[['idade','sexo','temDoença']].groupby(['sexo','temDoença']).count()
doente

                idade
sexo temDoença
F    0            129
     1             40
M    0            242
     1            428

Crie uma função que calcula a distribuição da doença por escalões etários. Considere os seguintes escalões: [30-34], [35-39], [40-44], ...

In [35]:
idade_doente = data[['idade','temDoença']].groupby(['idade','temDoença']).count()

idades = pd.DataFrame(data[['idade']], columns=['idade'])

bins = [30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90 ,95, 100, 105]
labels = ['30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '95-99', '100-104']
idades['Escalões'] = pd.cut(idades.idade, bins, labels = labels,include_lowest = True)

idades

     idade Escalões
0       40    35-39
1       49    45-49
2       37    35-39
3       48    45-49
4       54    50-54
..     ...      ...
834     44    40-44
835     54    50-54
836     65    60-64
837     57    55-59
838     63    60-64

[839 rows x 2 columns]